html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    font: -apple-system-body;
    margin: 0;
}

img {
    width: 100%;
    object-fit: contain;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#container {
    display: flex;
    height: 100%;
}

.line {
    position: absolute;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    padding: 4px;
}

.textFitted {
    display: block !important;
}

.selectionDisable {
    -webkit-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
}

.selectionEnable {
    -webkit-user-select: text;
    user-select: text;

    -webkit-touch-callout: default;
}
