html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    font: -apple-system-body;
    margin: 0;
}

img {
    width: 100%;
    object-fit: contain;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#container {
    display: flex;
    height: 100%;
}

.line {
    position: absolute;
    color: green;
    background-color: aliceblue;
    border-radius: 10px;

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.text {
    -webkit-user-select: text;
    -webkit-touch-callout: inherit;
    user-select: text;
}

#l1 {
    left: 30.0796875px;
    top: 315.9234375px;
    width: 368.71875px;
    height: 75.68437500000005px;
}

#l2 {
    left: 114.496875px;
    top: 437.859375px;
    width: 208.6171875px;
    height: 31.696874999999977px;
}

.selectionDisable {
    -webkit-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
}

.selectionEnable {
    -webkit-user-select: text;
    user-select: text;

    -webkit-touch-callout: default;
}
